

<div class="wrapper">




<header>


	<!-- <input type="checkbox" class="nav-check" id="nav-check">
	<label class="nav-label" for="nav-check">
		<span class="mobile-nav-toggle">
			<span></span>
		</span>
	</label> -->


	<a  class="logo" href="/index.html">
		<img src="../assets/images/logo.png" alt="" width="150px">

	</a>

	<nav class="nav-main">
		<h1>MANHOONAR</h1>
		<a class="nav-item" href="/index.html">Products</a>
		<a class="nav-item" href="">About Us</a>
		<a class="nav-item" href="">Events</a>
		<a class="nav-item" href="">Contact Us</a>
		<!-- <a class="nav-item" href="{{site.baseurl}}/media/">رسانه</a> -->
	</nav>


</header>


<div class="hero1"></div>
<div class="hero2"></div>


</div>
