<header>

	<input type="checkbox" class="nav-check" id="nav-check">
	<label class="nav-label" for="nav-check">
		<span class="mobile-nav-toggle">
			<span></span>
		</span>
	</label>


	<a href="#"><div class="logo"></div></a>
	<span class="header-line"></span>
	<nav class="nav-main">
		<a class="nav-item" href="#">Products</a>
		<a class="nav-item" href="#">About Us</a>
		<div class="logo-placeholder"></div>
		<a class="nav-item" href="#">Events</a>
		<a class="nav-item" href="#">Contact Us</a>
	</nav>
</header>

<!--
<header class="mobile-header">

	<input type="checkbox" class="nav-check" id="nav-check">
	<label class="nav-label" for="nav-check">
		<span class="mobile-nav-toggle">
			<span></span>
		</span>
	</label>

	<a href="#"><div class="logo"></div></a>
	<span class="line"></span>

	<nav class="nav-main">
		<a class="nav-item" href="#">Products</a>
		<a class="nav-item" href="#">About Us</a>
		<a class="nav-item" href="#">Events</a>
		<a class="nav-item" href="#">Contact Us</a>
	</nav>



</header> -->
