
<header>


	<!-- <input type="checkbox" class="nav-check" id="nav-check">
	<label class="nav-label" for="nav-check">
		<span class="mobile-nav-toggle">
			<span></span>
		</span>
	</label> -->


	<a  class="logo" href="/index.html">
		<img src="{{site.baseurl}}/assets/images/logo.png" alt="" width="300px">
	</a>

	<nav class="nav-main">
		<a class="nav-item" href="/index.html">Products</a>
		<a class="nav-item" href="">About Us</a>
		<a class="nav-item" href="">Events</a>
		<a class="nav-item" href="">Contact Us</a>
		<!-- <a class="nav-item" href="{{site.baseurl}}/media/">رسانه</a> -->
	</nav>


</header>
